<!-- <footer>
    <div>
        @Coding Ninjas. All rights reserved&nbsp; &nbsp;&nbsp;
    </div>
    <div>
        <% if (locals.user) { %> 
           <a href="/">Home</a> &nbsp; &nbsp;
            <a href="/users/profile/<%= user.id %>"> Profile </a>
        <% } %>
    </div>
    
</footer> -->



<!-- solution code -->
<footer id="layout-footer">
    <div>
        <p>
            &#169; Coding Ninjas. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <% if (locals.user) { %>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile/<%= user.id %>">Profile</a>
                </li>
            </ul>
            <% } %>
        </nav>
    </div>
</footer>
