<header>
    <div id="header">
        <div>codial</div>

    <div id="auth-links">
        <% if (locals.user) { %>   
            <!-- if locals .user exists => user is signed in -->
        
           <a href="/users/profile"> <%= user.name %></a>  
 
            <a href="/users/sign-out"> Sign-Out</a>
    
         <% } else { %>
     
             <a href="/users/sign-in">Sign-in</a> 
            <a href="/users/sign-up">Sign-up</a>
             
             
         <% } %>
    </div>
     
    </div>
</header>