<html>
    <head>

    </head>
    <body>
        <h2>Forgot password</h2>
        <form action="/users/reset-password" method="POST">
            <label for="email"><strong>Email</strong></label><br>
            <input type="email" name="email" id="email"><br><br>
            <input type="submit" value="Reset Password">
        </form>
    </body>
</html>