// include this file in home.ejs
#home-container{
    display: flex;
    #feed-posts{
        width:70%;
        padding:10px;
    }
    #user-friends{
        width:30%;
        border-left:4px solid lightgrey;
        padding: 10px;
        #friends-name{
            text-transform: capitalize;
            a{
                text-decoration: none;
            }
        }
        
    }
}