#user-chat-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px dashed grey;
  height: 350px;
  width: 300px;
  background: white;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  background-color: #d2ddf1; }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 84%;
    background-color: #d2ddf1;
    overflow: auto; }
    #user-chat-box #chat-messages-list .other-message {
      text-align: left;
      padding: 5px; 
      float: left;
      margin-bottom: 1rem;}
      #user-chat-box #chat-messages-list .other-message span {
        display: inline-block;
        padding: 15px;
        background-color: #6bb6f1; 
        border-radius: 16px;}
    #user-chat-box #chat-messages-list .self-message {
      text-align: right;
      padding: 5px;
      float: right;
      margin-bottom: 1rem;
}  
      #user-chat-box #chat-messages-list .self-message span {
        display: inline-block;
        padding: 15px;
        background-color: #48ea77;
        border-radius: 16px;
     }
     #user-chat-box #chat-messages-list .self-message sub {
    bottom: -0.75em;
    display: block;
   }
  #user-chat-box #chat-message-input-container {
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 50%;
      width: 70%; 
      padding: 0 5px;}
    #user-chat-box #chat-message-input-container #send-message {
      height: 50%;
      width: 30%;
      font-size: 25px;
      color: white;
      border: none;
      background: #58d258; }