#layout-footer {
  color: white;
  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
    ul li{
      display: inline;
      margin-left: 1rem;
    }
