#signup-div{
    width: 40%;
    margin-left: 5%;
    margin-top: 2%;
    display: inline-block;
}
#btn-div{
    display: inline-block;
    position: relative;
    left: 18%;
    top: -38%;
    border-radius: 20%;
  }
  #form{
    border: 3px solid #f1f1f1;
    position: relative;
    top: -4rem;
  }
* {box-sizing: border-box}
    input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
    }
   hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    }
    button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    }
    button:hover {
    opacity:1;
    }
    .signupbtn {
    float: left;
    width: 50%;
    }
    .container {
    padding: 16px;
    }
    .clearfix::after {
    content: "";
    clear: both;
    display: table;
    }
    @media screen and (max-width: 300px) {
    .signupbtn {
        width: 100%;
    }
    }

    #google-login{
        /* margin-top: 1rem !important; */
        margin-top: 3rem !important;
        padding: 0.8rem 5rem;
    }
     #google-login a{
           color: white;
           text-decoration: none;
        }
        #partition{
            height: 75vh;
            margin-top: 2rem;
            width: 2px;
            border: 1px dotted black;
            display: inline-block;
            position: relative;
            left: 10%;
          }